@charset "UTF-8";
/* CSS Document */

.center-text {
    text-align: center;
}

.left-text {
	text-align: left;
}
 table {
            width: 100%;
            border-collapse: collapse;
            margin: 20px 0;
            font-family: Arial, sans-serif;
            font-size: 14px;
        }
        /* Header styling */
        th {
            background-color: #333; /* Dark background color */
            color: #fff; /* White text color */
            padding: 10px;
            text-align: left;
        }
        /* Cell styling */
        td {
            border: 1px solid #ddd; /* Light border */
            padding: 10px; /* Padding inside cells */
            vertical-align: top; /* Align content to the top */
        }
        /* Specific styling for the first cell */
        td.statement {
            font-weight: bold;
        }